<p id="notice"><%= notice %></p>

<p>
  <strong>Actividad:</strong>
  <%= @element.actividad %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @element.tipo %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @element.numero %>
</p>

<p>
  <strong>Pfecha:</strong>
  <%= @element.pfecha %>
</p>

<p>
  <strong>Importe:</strong>
  <%= @element.importe %>
</p>

<p>
  <strong>Obs:</strong>
  <%= @element.obs %>
</p>

<p>
  <strong>Admin user:</strong>
  <%= @element.admin_user %>
</p>

<p>
  <strong>Contract:</strong>
  <%= @element.contract %>
</p>

<p>
  <strong>Moneda:</strong>
  <%= @element.moneda %>
</p>

<p>
  <strong>Plan:</strong>
  <%= @element.plan %>
</p>

<p>
  <strong>Inicial:</strong>
  <%= @element.inicial %>
</p>

<%= link_to 'Edit', edit_element_path(@element) %> |
<%= link_to 'Back', elements_path %>
