<%= form_for(contract) do |f| %>
  <% if contract.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contract.errors.count, "error") %> prohibited this contract from being saved:</h2>

      <ul>
      <% contract.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :numero %>
    <%= f.text_field :numero %>
  </div>

  <div class="field">
    <%= f.label :fecha %>
    <%= f.date_select :fecha %>
  </div>

  <div class="field">
    <%= f.label :descripcion %>
    <%= f.text_field :descripcion %>
  </div>

  <div class="field">
    <%= f.label :obac %>
    <%= f.number_field :obac %>
  </div>

  <div class="field">
    <%= f.label :postor %>
    <%= f.text_field :postor %>
  </div>

  <div class="field">
    <%= f.label :proveedor %>
    <%= f.number_field :proveedor %>
  </div>

  <div class="field">
    <%= f.label :moneda %>
    <%= f.number_field :moneda %>
  </div>

  <div class="field">
    <%= f.label :adjudicado %>
    <%= f.text_field :adjudicado %>
  </div>

  <div class="field">
    <%= f.label :presupuestado %>
    <%= f.text_field :presupuestado %>
  </div>

  <div class="field">
    <%= f.label :admin_user_id %>
    <%= f.text_field :admin_user_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
