<p id="notice"><%= notice %></p>

<p>
  <strong>Pac:</strong>
  <%= @item.pac %>
</p>

<p>
  <strong>Periodo:</strong>
  <%= @item.periodo %>
</p>

<p>
  <strong>Obac:</strong>
  <%= @item.obac %>
</p>

<p>
  <strong>Lista:</strong>
  <%= @item.lista %>
</p>

<p>
  <strong>Ejecucion:</strong>
  <%= @item.ejecucion %>
</p>

<p>
  <strong>Modalidad:</strong>
  <%= @item.modalidad %>
</p>

<p>
  <strong>Dependencia:</strong>
  <%= @item.dependencia %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @item.tipo %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @item.descripcion %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @item.cantidad %>
</p>

<p>
  <strong>Certificado:</strong>
  <%= @item.certificado %>
</p>

<p>
  <strong>Constancia:</strong>
  <%= @item.constancia %>
</p>

<p>
  <strong>Moneda:</strong>
  <%= @item.moneda %>
</p>

<p>
  <strong>Fuente:</strong>
  <%= @item.fuente %>
</p>

<p>
  <strong>Ccp:</strong>
  <%= @item.ccp %>
</p>

<p>
  <strong>Cpr:</strong>
  <%= @item.cpr %>
</p>

<p>
  <strong>Rubro:</strong>
  <%= @item.rubro %>
</p>

<p>
  <strong>Admin user:</strong>
  <%= @item.admin_user %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
