<p id="notice"><%= notice %></p>

<p>
  <strong>Employee:</strong>
  <%= @agreement.employee %>
</p>

<p>
  <strong>Num cont:</strong>
  <%= @agreement.num_cont %>
</p>

<p>
  <strong>Fec inicon:</strong>
  <%= @agreement.fec_inicon %>
</p>

<p>
  <strong>Fec tercon:</strong>
  <%= @agreement.fec_tercon %>
</p>

<p>
  <strong>Puesto:</strong>
  <%= @agreement.puesto %>
</p>

<p>
  <strong>Cod hor:</strong>
  <%= @agreement.cod_hor %>
</p>

<p>
  <strong>Remuneracion:</strong>
  <%= @agreement.remuneracion %>
</p>

<p>
  <strong>Area:</strong>
  <%= @agreement.area %>
</p>

<p>
  <strong>Tipo contra:</strong>
  <%= @agreement.tipo_contra %>
</p>

<p>
  <strong>Fec retiro:</strong>
  <%= @agreement.fec_retiro %>
</p>

<p>
  <strong>Motivo retir:</strong>
  <%= @agreement.motivo_retir %>
</p>

<p>
  <strong>Obs:</strong>
  <%= @agreement.obs %>
</p>

<p>
  <strong>Admin user:</strong>
  <%= @agreement.admin_user %>
</p>

<%= link_to 'Edit', edit_agreement_path(@agreement) %> |
<%= link_to 'Back', agreements_path %>
