<Table border="1">
 <tr>
    <th>AVANCE</th>
    <th>PREVIOS</th>
    <th>CONVOCADOS</th>
    <th>ADJUDICADOS</th>
    <th>TOTAL</th>

  </tr>
  <tr>
    <th>PAC</th>
    <th><%= @vnpac[1] %></th>
    <th><%= @vnpac[2] %></th>
    <th><%= @vnpac[3] %></th>
    <th><%= @vnpac[0] %></th>

  </tr>
  <tr>
    <th>MONTO(SOLES)</th>
    <td><%= @vmpac[1].to_i %></td>
    <td><%= @vmpac[2].to_i %></td>
    <td><%= @vmpac[3].to_i %></td>
    <td><%= @vmpac[1].to_i+@vmpac[2].to_i+@vmpac[3].to_i%></td>
  </tr>

</Table>
<%Formula.where(product_id:20).order('orden').each do |proce| %>
<Table border="1">
<tr>
<th><%= proce.nombre%></th>
</tr>
<tr>
  <th>N</th>
  <th>PAC-OBAC</th>
  <th>PROCESO</th>
  <th>DESCRIPCION</th>
  <th>MONTO PRESUPUESTADO</th>

  <%   if proce.orden==3  then %>
  <th>MONTO ADJUDICADO</th>
   <% else %>
  <th>MONTO REFERENCIAL</th>
   <%  end %>

  <th>SITUACION ACTUAL</th>
</tr>
<%  case proce.orden %>
<%  when 1 %>
<%  @vpacn=@vpac1 %>
<%  when 2 %>
<%  @vpacn=@vpac2 %>
<%  when 3 %>
<%  @vpacn=@vpac3 %>
<%  end %>


<%  @conta=0 %>
<%  @activities.where(id:@vpacn).each do |activ| %>
<tr>
 <% @conta=@conta+1 %>
<td ><%= @conta %></td>


<% @vobac=" " %>
<% if activ.expediente>0 then %>
<% Item.where(exped:activ.expediente).each do |nobac| %>
<% @spac=nobac.pac%>
<% @sobac=Formula.where(product_id:1,orden:nobac.obac).select('nombre as dd').first.dd %>
<% @vobac=@vobac+ @spac+@sobac+"-" %>
<% end %>
<% end %>


<td  ><%= @vobac %></td>

<td ><%= activ.nomenclatura %></td>
<td ><%= activ.descripcion.underscore.capitalize %></td>



<%   if proce.orden==3  then %>

    <% @presu=Piece.where(phase_id:activ.id.to_s).where('adjudicado>0').sum(:presupuestado).to_i%>
            <td ><h5  ALIGN=center><%= number_with_delimiter( @presu.to_i, delimiter: ",") %></h5></td>
<%  else %>

            <% @presu=Piece.where(phase_id:activ.id.to_s).sum(:presupuestado).to_i%>
          <td ><h5  ALIGN=center><%= number_with_delimiter( @presu.to_i, delimiter: ",") %></h5></td>

<%  end %>
  <td  ><h5  ALIGN=center><%= number_with_delimiter(activ.sele2.to_i, delimiter: ",") %></h5></td>




  <%  @vpact3=Formula.where(product_id:12,acti:3).select('orden')%>

  <% @vdetalle= Activity.order('pfecha')%>
  <% @vdetalle= @vdetalle.where(actividad:@vpact3,phase_id:activ.id)%>

  <% if @vdetalle.count>0%>
 <% @vdetalle.each do |deta|%>
 <% @vobsr=deta.pfecha.strftime("%d/%m/%y").to_s+"-"+ deta.obs.capitalize%>
 <% end %>
  <td><%= @vobsr%></td>
 <% end %>







</tr>
<% end %>
</Table>
<% end %>
