
    <Table border="1">
     <tr>
        <th>AVANCE</th>
        <th>S/EXP</th>
        <th>C/EXP</th>
        <th>DC</th>
        <th>DEM</th>
        <th>DPC</th>
        <th>FC</th>
        <th>EC</th>
        <th>TOTAL</th>
      </tr>
      <tr>
        <th>PAC</th>
        <th><%= @vnpac[1] %></th>
        <th><%= @vnpac[2] %></th>
        <th><%= @vnpac[3] %></th>
        <th><%= @vnpac[4] %></th>
        <th><%= @vnpac[5] %></th>
        <th><%= @vnpac[6] %></th>
        <th><%= @vnpac[7] %></th>
        <th><%= @vnpac[1].to_i+@vnpac[2].to_i+@vnpac[3].to_i+@vnpac[4].to_i+@vnpac[5].to_i+@vnpac[6].to_i+@vnpac[7].to_i%></th>
      </tr>
      <tr>
        <th>MONTO(SOLES)</th>
        <td><%= @vmpac[1].to_i %></td>
        <td><%= @vmpac[2].to_i %></td>
        <td><%= @vmpac[3].to_i %></td>
        <td><%= @vmpac[4].to_i %></td>
        <td><%= @vmpac[5].to_i %></td>
        <td><%= @vmpac[6].to_i %></td>
        <td><%= @vmpac[7].to_i %></td>
        <td><%= @vmpac[1].to_i+@vmpac[2].to_i+@vmpac[3].to_i+@vmpac[4].to_i+@vmpac[5].to_i+@vmpac[6].to_i+@vmpac[7].to_i%></td>
      </tr>

    </Table>
