<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Resumen">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">AVANCE</Data></Cell>
        <Cell><Data ss:Type="String">S/EXP</Data></Cell>
        <Cell><Data ss:Type="String">C/EXP</Data></Cell>
        <Cell><Data ss:Type="String">DC</Data></Cell>
        <Cell><Data ss:Type="String">DEM</Data></Cell>
        <Cell><Data ss:Type="String">DPC</Data></Cell>
        <Cell><Data ss:Type="String">FC</Data></Cell>
        <Cell><Data ss:Type="String">EC</Data></Cell>
        <Cell><Data ss:Type="String">TOTAL</Data></Cell>
      </Row>
      <Row>
        <Cell><Data ss:Type="String">PAC</Data></Cell>
        <Cell><Data ss:Type="Number"><%= @vnpac[1] %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= @vnpac[2] %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= @vnpac[3] %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= @vnpac[4] %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= @vnpac[5] %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= @vnpac[6] %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= @vnpac[7] %></Data></Cell>
        <Cell><Data ss:Type="Number"><%=@vnpac[1].to_i+@vnpac[2].to_i+@vnpac[3].to_i+@vnpac[4].to_i+@vnpac[5].to_i+@vnpac[6].to_i+@vnpac[7].to_i %></Data></Cell>

      </Row>
      <Row>
        <Cell><Data ss:Type="String">MONTO(SOLES)</Data></Cell>
        <Cell><Data ss:Type="Number"><%= @vmpac[1] %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= @vmpac[2] %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= @vmpac[3] %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= @vmpac[4] %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= @vmpac[5] %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= @vmpac[6] %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= @vmpac[7] %></Data></Cell>
        <Cell><Data ss:Type="Number"><%=@vmpac[1].to_i+@vmpac[2].to_i+@vmpac[3].to_i+@vmpac[4].to_i+@vmpac[5].to_i+@vmpac[6].to_i+@vmpac[7].to_i %></Data></Cell>

      </Row>
     </Table>
    </Worksheet>

      <%Formula.where(product_id:10).order('orden').where('orden<5').each do |proce| %>
    <Worksheet ss:Name= "<%= proce.nombre %>">
      <Table>
        <Row>
          <Cell><Data ss:Type="String">N</Data></Cell>
          <Cell><Data ss:Type="String">PAC</Data></Cell>
          <Cell><Data ss:Type="String">FECHA PAC</Data></Cell>
          <Cell><Data ss:Type="String">OBAC</Data></Cell>
          <Cell><Data ss:Type="String">DESCRIPCION</Data></Cell>
          <Cell><Data ss:Type="String">FUENTE DE FINANCIAMIENTO</Data></Cell>
          <Cell><Data ss:Type="String">MONTO</Data></Cell>
          <Cell><Data ss:Type="String">SITUACION ACTUAL</Data></Cell>
        </Row>
        <%  case proce.orden %>
        <%  when 1 %>
        <%  @vpacn=@vpac1 %>
        <%  when 2 %>
        <%  @vpacn=@vpac2 %>
        <%  when 3 %>
        <%  @vpacn=@vpac3 %>
        <%  when 4 %>
        <%  @vpacn=@vpac4 %>
        <%  end %>
        <%  @conta=0 %>
          <%  @items.where(id:@vpacn).each do |ite| %>


        <Row>
             <% @conta=@conta+1 %>
          <Cell><Data ss:Type="Number"><%= @conta %></Data></Cell>
          <Cell><Data ss:Type="String"><%= ite.pac %></Data></Cell>

          <% if ite.mesconvoca then%>
         <Cell><Data ss:Type="String"><%= ite.mesconvoca.strftime("%m - %Y") %></Data></Cell>
          <% else%>
         <Cell><Data ss:Type="String"> </Data></Cell>
         <% end%>

          <Cell><Data ss:Type="String"><%=Formula.where(product_id:1,orden:ite.obac).select('nombre as dd').first.dd  %></Data></Cell>
          <Cell><Data ss:Type="String"><%= ite.descripcion%></Data></Cell>
          <Cell><Data ss:Type="String"><%= Formula.where(product_id:8,orden:ite.fuente).select('nombre as dd').first.dd %></Data></Cell>
          <Cell><Data ss:Type="Number"><%= ite.certificado.to_i%></Data></Cell>


           <%  @vpact3=Formula.where(product_id:12,acti:3).select('orden')%>
           <% @vdetalle= Detail.where(actividad: Formula .where(product_id:12,cantidad:proce.orden).select('orden')).order('pfecha')%>
           <% @vdetalle= @vdetalle.where(actividad:@vpact3,item_id:ite.id)%>

           <% if @vdetalle.count>0%>
          <% @vdetalle.each do |deta|%>
          <% @vobsr=deta.pfecha.strftime("%d/%m/%y").to_s+"-"+ deta.obs.capitalize%>
          <% end %>

           <Cell><Data ss:Type="String"><%= @vobsr%></Data></Cell>
           <% end %>








        </Row>

        <%end %>

       </Table>
      </Worksheet>


     <%end %>




 </Workbook>
