
<!DOCTYPE html>
<html>
<head>
<title></title>
<%= wicked_pdf_stylesheet_link_tag 'pdf' %>
<meta charset="utf-8">
<h3><%=   @tit1 %>(Soles) al<%= Time.now.strftime("%d-%m-%Y")%>	 </h3>
</head>

  <% if @activities.length>0 then %>
<table >



    <tr style="font-size:90%;" >
      <th >N°</th>
      <%  if @vopc==4 then %>
        <th >Ingreso DPC</th>
        <th >Convocatoria</th>
         <%  @idpc=[17,34]%>
         <%  @idpc2=18%>
      <%  else%>
       <th >Pres. Prop.</th>
       <th >Fecha BP</th>
         <%  @idpc=19%>
         <%  @idpc2=20%>
     <%  end%>

       <th >Nomenclatura</th>
       <th >OBAC</th>
       <th colspan="3">Descripcion</th>


        <th >Presupuestado</th>

      <%  if @vopc==2 or  @vopc==3 then %>
       <th >Adjudicado</th>
       <th >Ahorro</th>
       <% else %>
         <th >Referencial</th>
       <%  end%>




  <tbody>
    <%  @conta=0 %>

    <% @activities.each do |activity| %>

        <tr style="font-size:80%;"  class="detl" >

          <% @conta=@conta+1 %>




        <td ><%= @conta.to_s+".-" %></td>



  <% if Activity.where(actividad:@idpc,phase_id:activity.id.to_s)
    .count>0 then %>

<%  @vaconv=Activity.where(actividad:@idpc,phase_id:activity.id.to_s)
             .select('pfecha as dd').first.dd%>
             <td   ><%=  @vaconv.strftime("%d-%m") %></td>
             <%  else %>
             <td  ></td>
              <%  end %>



          <% if Activity.where(actividad:@idpc2,phase_id:activity.id.to_s)
                .count>0 then %>

              <%  @vabp=Activity.where(actividad:@idpc2,phase_id:activity.id.to_s)
                         .select('pfecha as dd').first.dd%>
                         <td   ><%=  @vabp.strftime("%d-%m") %></td>
                         <%  else %>
                         <td  ></td>
                          <%  end %>


         <%  @an=activity.nomenclatura.length %>

        <td ><%= activity.nomenclatura[0,@an] %></td>

        <% @vobac=" " %>

        <% if activity.expediente>0 then %>
       <% Item.where(exped:activity.expediente).each do |nobac| %>
        <% @spac=nobac.pac%>
       <% @sobac=Formula.where(product_id:1,orden:nobac.obac).select('nombre as dd').first.dd %>
       <% @vobac=@vobac+ @spac+@sobac+"-" %>


       <% end %>
       <% end %>
       <td  ><%= @vobac %></td>






        <td colspan="3"><%= activity.descripcion.underscore.capitalize %>




</td>








  <%   if @vopc==2 or  @vopc==3 then %>

      <% @presu=Piece.where(phase_id:activity.id.to_s).where('adjudicado>0').sum(:presupuestado).to_i%>
              <td ><h5  ALIGN=center><%= number_with_delimiter( @presu.to_i, delimiter: ",") %></h5></td>
  <%  else %>

              <% @presu=Piece.where(phase_id:activity.id.to_s).sum(:presupuestado).to_i%>
                      <td ><h5  ALIGN=center><%= number_with_delimiter( @presu.to_i, delimiter: ",") %></h5></td>

  <%  end %>





      <%   if @vopc==2 or  @vopc==3 then %>

             <% @vbpro=Piece.where(phase_id:activity.id.to_s).sum(:adjudicado)*
               Formula.where(product_id:7,orden:activity.moneda)
                    .select('cantidad as dd').first.dd/100%>

         <% if @vbpro >0 then %>


          <td  ><h5  ALIGN=center><%= number_with_delimiter(@vbpro.to_i, delimiter: ",") %></h5></td>
          <td  ><h5  ALIGN=center><%= number_with_delimiter((@presu-@vbpro).to_i, delimiter: ",") %></h5></td>
             <% else %>
               <td></td>
               <td></td>
             <% end %>
            <% else %>


             <% @vreff=Piece.where(phase_id:activity.id.to_s).sum(:referencial)*
             Formula.where(product_id:7,orden:activity.moneda)
                   .select('cantidad as dd').first.dd/100%>


           <td  ><h5  ALIGN=center><%= number_with_delimiter(@vreff.to_i, delimiter: ",") %></h5></td>






          <% end %>




      </tr>
      <% if Piece.where(phase:activity.id.to_s).count>0  then  %>




          <tr style="font-size:80%;"  class="detl">
            <th colspan="2"> </th>
            <th colspan="3" >Item </th>
            <th colspan="1"  >Estado</th>

            <% if   @vopc==2 then %>
            <th colspan="2"  >Postor Ganador</th>

             <th colspan="1" > </th>
            <% end %>
            <th  >Monto</th>

             <th colspan="1"> </th>

         </tr>



          <% Piece.where(phase:activity.id.to_s).each do |pite| %>


       <tr style="font-size:70%;"  class="last" >




                <td colspan="2"></td>


               <td  colspan="3" ><%= pite.descripcion.capitalize %></td>
                 <% if pite.estado and pite.estado>0 then %>

                  <td colspan="1" ><%= Formula.where(product_id:17, orden:pite.estado).
                   select('nombre as dd').first.dd %></td>


             <% else %>


                <td colspan="1" > s/d </td>
            <% end %>

      <% if   @vopc==2 then %>

               <td colspan="3" ><%= pite.postor.capitalize %></td>

        <% end %>

        <% if   (pite.estado==2  or pite.estado==4) and pite.adjudicado then %>
        <td ><%= number_with_delimiter((pite.adjudicado*
        Formula.where(product_id:7,orden:pite.moneda)
              .select('cantidad as dd').first.dd/100).to_i, delimiter: ",") %></td>

          <% else %>
              <% if  pite.referencial then %>
        <td ><%= number_with_delimiter((pite.referencial*
        Formula.where(product_id:7,orden:pite.moneda)
              .select('cantidad as dd').first.dd/100).to_i, delimiter: ",") %></td>
           <% else %>
           <td  ></td>
           <% end %>
                 <td colspan="1"> </td>

          <% end %>

       </tr>



        <% end %>



      <% end %>












    <% end %>

  </tbody>
  </table>



    <% if @vopc==2  then  %>
    <%@srefs= 0 %>
    <%@sadjs=0 %>
    <%@srefd= 0 %>
    <%@sadjd=0 %>
    <%@scert=0 %>
  <% @activities.each do |activity2| %>

  <%@scert= @scert+ Piece.where(phase:activity2.id).where('adjudicado>0 and adjudicado is not null')
  .sum(:presupuestado).to_i %>


    <%@srefs= @srefs+ Piece.where(phase:activity2.id).where('adjudicado>0 and adjudicado is not null')
    .sum(:referencial)*
    Formula.where(product_id:7,orden:activity2.moneda)
          .select('cantidad as dd').first.dd/100.to_i %>

    <%@sadjs= @sadjs+ Piece.where(phase:activity2.id).where('adjudicado>0 and adjudicado is not null')
    .sum(:adjudicado)*
    Formula.where(product_id:7,orden:activity2.moneda)
          .select('cantidad as dd').first.dd/100.to_i %>

      <% end %>
    <%  case current_admin_user.id%>
      <%   when 21,22,23%>


      <%  else%>

      <table>
        <thead>
        <h4>RESUMEN DE AHORRO EN SOLES</h4>
        </thead>
        <tr>

          <th>PRESUPUESTADO</th>

          <th>ADJUDICADO</th>
          <th>AHORRO</th>
          <th>TASA</th>
        </tr>
        <tr>


          <td><%= number_with_delimiter(@scert.to_i, delimiter: ",") %></td>

          <td><%= number_with_delimiter(@sadjs.to_i, delimiter: ",") %></td>
          <td><%= number_with_delimiter((@scert-@sadjs).to_i, delimiter: ",") %></td>
          <td><%= number_with_delimiter(((@scert-@sadjs)/@scert*100).to_i, delimiter: ",")+"%" %></td>
        </tr>

          <td colspan="4">Tipo de cambio Dolar=<%= Formula.where(product_id:7,orden:2)
                .select('cantidad as dd').first.dd.to_i/100.to_f%>
                ;Tipo de cambio Euro=<%= Formula.where(product_id:7,orden:3)
                      .select('cantidad as dd').first.dd.to_i/100.to_f%>
              </td>

        </tr>
      </table>
     <%  end%>
      <% end %>









<br>
<% else %>
<br>
<br>
 <td> No hay procesos programados  </td>
 <br>
 <br>
<% end %>
