<!DOCTYPE html>
<html>
<head>
<title></title>
<%= wicked_pdf_stylesheet_link_tag 'pdf' %>
<meta charset="utf-8">
<h3>Periodo:<%=   @vper %> </h3>
<h4><%= @titproc %></h4>

</head>
<% if @items.count>0 then %>





  <table >
    <tr  style="font-size:90%;">

       <th>N°</th>

       <th  colspan="2">Proceso</th>
       <th  colspan="3">Descripcion</th>

<% if  @vactcanti.to_i==6 then %>
       <th   >Adjudicado</th>
<%  else %>
       <th   >Referencial</th>
<% end%>
       <th   >Presupuestado</th>
    </tr>
    <tbody>

    <%  @conta=0 %>

    <% @items.each do |variable| %>



        <tr style="font-size:80%;"  class="detl">

      <% @conta=@conta+1 %>




<%  @vpact=[13,18,19,20,21,34,35,37,38,40,42,43,44,45,45,47,49,50,56,58,61,62,63,64,65,66,67,300]%>



        <td><%= @conta.to_s+".-" %></td>




        <td colspan="2"><%= variable.nomenclatura %></td>






        <td colspan="3"><%= variable.descripcion.capitalize %>  </td>

        <% if  @vactcanti.to_i==6 then %>
        <% @vbpro=Piece.where(phase_id:variable.id.to_s).sum(:adjudicado)*
        Formula.where(product_id:7,orden:variable.moneda)
              .select('cantidad as dd').first.dd/100%>

                  <td ><h5  ALIGN=center><%= number_with_delimiter(@vbpro.to_i, delimiter: ",") %></h5></td>
        <%  else %>

                  <td ><h5  ALIGN=center><%= number_with_delimiter(variable.valor.to_i, delimiter: ",") %></h5></td>
        <% end%>

        <% @presu=Piece.where(phase_id:variable.id.to_s).sum(:presupuestado).to_i%>
                <td ><h5  ALIGN=center><%= number_with_delimiter( @presu.to_i, delimiter: ",") %></h5></td>

        </tr>


          <% if @vdetalle.where(phase_id:variable.id).where(actividad: @vpact).count>0 and @vpaso1.to_i==0 then %>

            <% @vdetact= @vdetalle.where(phase_id:variable.id).where(actividad: @vpact)%>



              <tr style="font-size:80%;"  class="last">
                <th ></th>
                <th >Fecha </th>
                <th >Programa</th>
                <th colspan="2">Actividad</th>
                <th colspan="3">Observacion</th>
                <th ></th>
             </tr>

            <tbody>


              <% @vdetact.each do |deta| %>


           <tr style="font-size:70%;"  class="last">



                    <td ></td>
                   <td><%= deta.pfecha.strftime("%d-%m") %></td>
                     <%  if deta.plan then %>
                  <td ><%= deta.plan.strftime("%d-%m") %></td>
                     <%  else %>
                   <td >s/d</td>
                      <%  end %>

                   <td colspan="2"><%=Formula.where(product_id:12,orden:deta.actividad).
                               select('descripcion as dd').first.dd.capitalize  %></td>
                   <td colspan="3"><%= deta.obs.capitalize %></td>
                   <td ></td>
           </tr>

            <% end %>

            <tbody>



  <% end %>






    <% end %>
    <br>
  </tbody>
  </table>

<% else %>
<br>
<br>
 <td> No hay procesos en esta etapa  </td>
 <br>
 <br>
<% end %>
</html>
