
<!DOCTYPE html>
<html>
<head>
<title></title>
<%= wicked_pdf_stylesheet_link_tag 'pdf' %>
<meta charset="utf-8">
<h3><%= @tit1 %>-<%=   @lista.titleize %></h3>
</head>

  <% Formula.where(product_id:6).order('orden').each do  |merca| %>
  <% if @items.where(tipo:merca.orden).count>0 then %>



  <% Formula.where(product_id:4).where('orden<3').order('orden').each do  |modal| %>
  <% if @items.where(tipo:merca.orden,modalidad:modal.orden).count>0 then %>

<h3> MERCADO: <%=Formula.where(product_id:6,orden:merca.orden).
                      select('nombre as dd').first.dd  %> </h3>
<h3> MODALIDAD: <%=Formula.where(product_id:4,orden:modal.orden).
                    select('nombre as dd').first.dd  %> </h3>
<table>








         <tr  style="font-size:90%;">

           <th>N°</th>
           <th>Pac</th>
           <th>Periodo</th>
           <th>Expediente</th>
           <th>Obac</th>

           <th>Descripcion</th>

           <th>Estimado</th>



         </tr>

         <tbody>
         <%  @conta=0 %>

         <% @items.where(tipo:merca.orden,modalidad:modal.orden).each do |item| %>

             <tr style="font-size:80%;" >

           <% @conta=@conta+1 %>

        <td ><%= @conta.to_s+".-" %></td>
        <td ><%= item.pac %></td>
        <% if item.periodo>0 or item.periodo  then %>
           <td ><h5  ALIGN=center>
           <%= Formula.where(product_id:11,orden:item.periodo).select('descripcion as dd').first.dd %><h5></td>

          <% else %>
        <td><h5  ALIGN=center><%= " s/d"   %><h5></td>

          <% end %>

        <% if item.exped>0 or item.exped  then %>
           <td ><h5  ALIGN=center>
           <%= Formula.where(product_id:16,orden:item.exped).select('nombre as dd')
           .first.dd.downcase %><h5></td>

          <% else %>
        <td><h5  ALIGN=center><%= " s/d"   %><h5></td>

          <% end %>

        <td ><%= Formula.where(product_id:1,orden:item.obac).select('nombre as dd').first.dd %></td>

        <td><%= item.descripcion.underscore.capitalize %></td>

        <td ><h5 ALIGN=right ><%= number_with_delimiter(item.certificado.to_i, delimiter: ",") %></h5></td>

      </tr>
      <% end %>
  </tbody>
  </table>


    <table>
      <thead>
      <h4>RESUMEN:<%=Formula.where(product_id:6,orden:merca.orden).
                            select('nombre as dd').first.dd  %>
                            - <%=Formula.where(product_id:4,orden:modal.orden).
                                                select('nombre as dd').first.dd  %></h4>

      </thead>
      <tr style="font-size:80%;">
        <th>Cantidad PACs</th>
        <th>Acumulado</th>

      </tr>
      <tr style="font-size:80%;">
        <td><%=  @conta %></td>
        <td><%= number_with_delimiter(@items.where(tipo:merca.orden,modalidad:modal.orden).sum(:certificado).to_i, delimiter: ",") %></td>


      </tr style="font-size:80%;">

        <td colspan="2" >Acumulado en soles</td>

      </tr>
    </table>
    
<style>
  th {
    padding: 6px;

  }
  td {
    padding: 10px;

  }

  

</style>

    <% end %>
<% end %>
<% end %>
<% end %>
