
<!DOCTYPE html>
<html>
<head>
<title></title>
<%= wicked_pdf_stylesheet_link_tag 'pdf' %>
<meta charset="utf-8">
</head>

<h2>Encargo - <%=   @lista.titleize %></h2>

<table>
  <thead>

    <tr>
      <th>N°</th>
      <th>Pac</th>

      <th>Obac</th>

      <th>Descripcion</th>

      <th>Estimado</th>


      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%  @conta=0 %>
    <% @items.each do |item| %>
        <tr>
          <% @conta=@conta+1 %>
        <td><%= @conta %></td>
        <td><%= item.pac %></td>

        <td><%= Formula.where(product_id:1,orden:item.obac).select('nombre as dd').first.dd %></td>

        <td><%= item.descripcion.underscore.capitalize %></td>

        <td><%= number_with_delimiter(item.certificado.to_i, delimiter: ",") %></td>


      </td>
      </tr>

    <% end %>

  </tbody>

</table>
<h3>Procesos = <%=   @conta %></h3>
<h3>Total(Soles) = <%=   number_with_delimiter(@items.sum(:certificado).to_i, delimiter: ",") %></h3>
<br>
