
<!DOCTYPE html>
<html>
<head>
<title></title>
<%= wicked_pdf_stylesheet_link_tag 'pdf' %>
<meta charset="utf-8">
<h3><%=   @tit1 %>(Soles) al<%=" "+ Time.now.strftime("%d-%m-%Y").to_s%>	 </h3>
</head>

  <% if @activities.length>0 then %>
<table >



    <tr style="font-size:90%;" >
      <th >N°</th>
      <%  if @vopc==4 then %>
        <th >Ingreso DPC</th>
        <th >Convoc</th>
         <%  @idpc=[17,34]%>
         <%  @idpc2=18%>
      <%  else%>
       <th >Pres. Prop.</th>
       <th >Fecha BP</th>
         <%  @idpc=19%>
         <%  @idpc2=20%>
     <%  end%>

       <th >Nomenclatura</th>
       <th >OBAC</th>
       <th colspan="3">Descripcion</th>


        <th >Presupuestado</th>

      <%  if @vopc==2 or  @vopc==3 then %>
       <th >Adjudicado</th>
       <th >Ahorro</th>
       <% else %>
         <th >Referencial</th>
          <th ></th>
       <%  end%>




  <tbody>
    <%  @conta=0 %>

    <% @activities.each do |activity| %>

        <tr style="font-size:80%;"  class="detl" >

          <% @conta=@conta+1 %>




        <td ><%= @conta.to_s+".-" %></td>



  <% if Activity.where(actividad:@idpc,phase_id:activity.id.to_s)
    .count>0 then %>

<%  @vaconv=Activity.where(actividad:@idpc,phase_id:activity.id.to_s)
             .select('pfecha as dd').first.dd%>
             <td   ><%=  @vaconv.strftime("%d-%m") %></td>
             <%  else %>
             <td  ></td>
              <%  end %>



          <% if Activity.where(actividad:@idpc2,phase_id:activity.id.to_s)
                .count>0 then %>

              <%  @vabp=Activity.where(actividad:@idpc2,phase_id:activity.id.to_s)
                         .select('pfecha as dd').first.dd%>
                         <td   ><%=  @vabp.strftime("%d-%m") %></td>
                         <%  else %>
                         <td  ></td>
                          <%  end %>


         <%  @an=activity.nomenclatura.length %>

        <td ><%= activity.nomenclatura[0,@an] %></td>

        <% @vobac=" " %>

        <% if activity.expediente>0 then %>
       <% Item.where(exped:activity.expediente).each do |nobac| %>
        <% @spac=nobac.pac%>
       <% @sobac=Formula.where(product_id:1,orden:nobac.obac).select('nombre as dd').first.dd %>
       <% @vobac=@vobac+ @spac+@sobac+"-" %>


       <% end %>
       <% end %>
       <td  ><%= @vobac %></td>






        <td colspan="3"><%= activity.descripcion.underscore.capitalize %>




</td>








  <%   if @vopc==2 or  @vopc==3  then %>

      <% @presu=Piece.where(phase_id:activity.id.to_s).where('adjudicado>0').sum(:presupuestado).to_i%>
              <td ><h5  ALIGN=center><%= number_with_delimiter( @presu.to_i, delimiter: ",") %></h5></td>
  <%  else %>

              <% @presu=Piece.where(phase_id:activity.id.to_s).sum(:presupuestado).to_i%>
            <td ><h5  ALIGN=center><%= number_with_delimiter( @presu.to_i, delimiter: ",") %></h5></td>

  <%  end %>





      <%   if @vopc==2 or  @vopc==3 then %>

             <% @vbpro=Piece.where(phase_id:activity.id.to_s).sum(:adjudicado)*
               Formula.where(product_id:7,orden:activity.moneda)
                    .select('cantidad as dd').first.dd/100%>

         <% if @vbpro >0 then %>


      <td  ><h5  ALIGN=center><%= number_with_delimiter(activity.sele2.to_i, delimiter: ",") %></h5></td>
          <td  ><h5  ALIGN=center><%= number_with_delimiter((@presu-activity.sele2).to_i, delimiter: ",") %></h5></td>
             <% else %>
               <td>     </td>
               <td></td>
             <% end %>
            <% else %>







<td  ><h5  ALIGN=center><%= number_with_delimiter(activity.sele2.to_i, delimiter: ",") %></h5></td>




          <% end %>




      </tr>

      <% if Activity.where(phase_id:activity.id).where(actividad: 56).count>0 and @vopc==4 then %>
      <%  @vesta=Activity.where(phase_id:activity.id).where(actividad:56).order('pfecha').last %>
        <tr  style="font-size:80%;"  class="detl">
      <td ></td>

     <td colspan="8"><%='ESTADO='+@vesta.pfecha.strftime("%d/%m/%y").to_s+"-"+ @vesta.obs.capitalize %></td>


      </tr>



        <% end %>







      <% if Piece.where(phase:activity.id.to_s).count>0  then  %>




          <tr style="font-size:80%;"  class="detl">
            <th> </th>
            <th colspan="3" >Item Paquete </th>
            <th >Postores</th>
            <% if   @vopc==2 or @vopc==3 then %>
             <th colspan="1"  >Estado</th>

              <th colspan="2"  >Postor Ganador</th>

            <% end %>
            <th  >Presupuestado</th>
        <% if   @vopc==2 or   @vopc==3 then %>

            <th  >Adjudicado</th>
            <th>Ahorro </th>
        <% else %>
             <th  >Referencial</th>
             <th> </th>
       <% end %>

         </tr>



          <% Piece.where(phase:activity.id.to_s).order('presupuestado DESC').each do |pite| %>


       <tr style="font-size:70%;"  class="last" >




                <td></td>


               <td  colspan="3" ><%= pite.codigo+'-'+pite.descripcion.capitalize %></td>

              <td ><%= pite.cantidad %></td>
                <% if  @vopc==2 or   @vopc==3  then %>
                 <% if pite.estado and pite.estado>0 then %>

                  <td colspan="1" ><h5 ><%= Formula.where(product_id:17, orden:pite.estado).
                   select('nombre as dd').first.dd %></h5 ></td>


             <% else %>


                <td colspan="1" > s/d </td>
            <% end %>
            <% end %>


      <% if  @vopc==2 or   @vopc==3  then %>

               <td colspan="2" ><%= pite.postor.capitalize %></td>

        <% end %>


        <% if  pite.presupuestado then %>

      <td  ><%= number_with_delimiter(pite.presupuestado.to_i, delimiter: ",") %></td>
      <% else %>
      <td  ></td>
      <% end %>

    <% if  @vopc==2 or   @vopc==3  then %>
    <% if  pite.adjudicado and pite.presupuestado then %>

    <td ><%= number_with_delimiter((pite.adjudicado*
    Formula.where(product_id:7,orden:pite.moneda)
          .select('cantidad as dd').first.dd/100).to_i, delimiter: ",") %></td>
          <td ><%= number_with_delimiter((pite.presupuestado-pite.adjudicado*
          Formula.where(product_id:7,orden:pite.moneda)
                .select('cantidad as dd').first.dd/100).to_i, delimiter: ",") %></td>
      <% else %>
      <td  ></td>
      <% end %>
     <% else %>
     <% if  pite.referencial then %>
   <td ><%= number_with_delimiter((pite.referencial*
   Formula.where(product_id:7,orden:pite.moneda)
     .select('cantidad as dd').first.dd/100).to_i, delimiter: ",") %></td>
   <% else %>
   <td  colspan="2"  ></td>
   <% end %>


    <% end %>





       </tr>



        <% end %>



      <% end %>












    <% end %>

  </tbody>
  </table>



    <% if @vopc==2  then  %>
    <%@srefs= 0 %>
    <%@sadjs=0 %>
    <%@srefd= 0 %>
    <%@sadjd=0 %>
    <%@scert=0 %>
  <% @activities.each do |activity2| %>

  <%@scert= @scert+ Piece.where(phase:activity2.id).where('estado=2 or estado=11')
  .sum(:presupuestado).to_i %>


    <%@srefs= @srefs+ Piece.where(phase:activity2.id).where('estado=2 or estado=11')
    .sum(:referencial)*
    Formula.where(product_id:7,orden:activity2.moneda)
          .select('cantidad as dd').first.dd/100.to_i %>

    <%@sadjs=@sadjs+Phase.where(id:activity2.id).sum(:sele2).to_i %>

      <% end %>
    <%  case current_admin_user.categoria%>
      <%   when 21,22,23%>


      <%  else%>

      <table>
        <thead>
        <h4>RESUMEN DE AHORRO EN SOLES</h4>
        </thead>
        <tr>

          <th>PRESUPUESTADO</th>

          <th>ADJUDICADO</th>
          <th>AHORRO</th>
          <th>TASA</th>
        </tr>
        <tr>


          <td><%= number_with_delimiter(@scert.to_i, delimiter: ",") %></td>

          <td><%= number_with_delimiter(@sadjs.to_i, delimiter: ",") %></td>
          <td><%= number_with_delimiter((@scert-@sadjs).to_i, delimiter: ",") %></td>

            <% if@scert.to_i>0  then  %>
          <td><%= number_with_delimiter((@scert-@sadjs)*100/@scert.to_i, delimiter: ",")+"%" %></td>

            <% else  %>
            <td>0</td>
            <% end %>
        </tr>

          <td colspan="4">Tipo de cambio Dolar=<%= Formula.where(product_id:7,orden:2)
                .select('cantidad as dd').first.dd.to_i/100.to_f%>
                ;Tipo de cambio Euro=<%= Formula.where(product_id:7,orden:3)
                      .select('cantidad as dd').first.dd.to_i/100.to_f%>
              </td>

        </tr>
      </table>
     <%  end%>
      <% end %>









<br>
<% else %>
<br>
<br>
 <td> No hay procesos programados  </td>
 <br>
 <br>
<% end %>
