
<!DOCTYPE html>
<html>
<head>
<title></title>
<%= wicked_pdf_stylesheet_link_tag 'pdf' %>
<meta charset="utf-8">
<h3><%= @tit1 %>-<%=   @lista.titleize %></h3>
</head>

  <% if @items.where(tipo:1).count>0 then %>
    <%  @vmod1n=@items.where(tipo:1,modalidad:1).count %>
    <%  @vmod2n=@items.where(tipo:1,modalidad:2).count %>
<table>


<h4> NACIONALES:  </h4>

    <tr>
      <th>N°</th>
      <th>Pac</th>
      <th>Expediente</th>
      <th>Obac</th>

      <th>Descripcion</th>

      <th>Estimado</th>


      <th colspan="3"></th>
    </tr>


  <tbody>

    <%  @conta=0 %>

    <% @items.where(tipo:1).each do |item| %>

        <tr>
          <% @conta=@conta+1 %>
          <%  if @vmod1n>0 and @conta==1 and  item.modalidad==1 then %>

         <tr> <td> <h5> CORPORATIVOS:</h5> </td> </tr>

          <% end %>

          <%  if @vmod2n>0 and @conta==@vmod1n+1 and  item.modalidad==2  then %>

         <tr> <td> <h5>POR ENCARGO:</h5> </td> </tr>

          <% end %>



        <td ALIGN=center><%= @conta.to_s+".-" %></td>
        <td ALIGN=center><%= item.pac %></td>

        <% if item.exped>0 then %>
           <td ALIGN=center><%= Formula.where(product_id:16,orden:item.exped).select('nombre as dd').first.dd.downcase %></td>
          <% else %>
        <td ALIGN=center><%= " s/d"   %></td>
          <% end %>

        <td ALIGN=center><%= Formula.where(product_id:1,orden:item.obac).select('nombre as dd').first.dd %></td>

        <td><%= item.descripcion.underscore.capitalize %></td>

        <td ALIGN=right><%= number_with_delimiter(item.certificado.to_i, delimiter: ",") %></td>


      </td>
      </tr>

    <% end %>

  </tbody>

</table>
<h3>Procesos = <%=   @conta %></h3>
<h3>Total(Soles) = <%=   number_with_delimiter(@items.where(tipo:1).sum(:certificado).to_i, delimiter: ",") %></h3>

<br>
<% else %>
<br>
<br>
 <td> No hay procesos Nacionales en esta Lista  </td>
 <br>
 <br>
<% end %>
  <% if @items.where(tipo:2).count>0 then %>

  <%  @vmod1i=@items.where(tipo:2,modalidad:1).count %>
  <%  @vmod2i=@items.where(tipo:2,modalidad:2).count %>




<table>






<h3>INTERNACIONALES:  </h3>
    <tr>
      <th>N°</th>
      <th>Pac</th>
      <th>Expediente</th>
      <th>Obac</th>

      <th>Descripcion</th>

      <th>Estimado</th>


      <th colspan="3"></th>
    </tr>


  <tbody>
    <%  @conta=0 %>

    <% @items.where(tipo:2).each do |item| %>
        <tr>
          <% @conta=@conta+1 %>

          <%  if @vmod1i>0 and @conta==1 and  item.modalidad==1 then %>

          <tr> <td> <h5> CORPORATIVOS:</h5> </td> </tr>

          <% end %>

          <%  if @vmod2i>0 and @conta==@vmod1i+1 and  item.modalidad==2  then %>

          <tr> <td> <h5>POR ENCARGO:</h5> </td> </tr>

          <% end %>




        <td ALIGN=center><%= @conta.to_s+".-" %></td>
        <td ALIGN=center><%= item.pac.to_i %></td>

        <% if item.exped>0 then %>
           <td ALIGN=center><%= Formula.where(product_id:16,orden:item.exped).select('nombre as dd').first.dd.downcase %></td>
          <% else %>
        <td ALIGN=center><%= " s/d"   %></td>
          <% end %>

        <td ALIGN=center><%= Formula.where(product_id:1,orden:item.obac).select('nombre as dd').first.dd %></td>

        <td><%= item.descripcion.underscore.capitalize %></td>

        <td  ALIGN=right><%= number_with_delimiter(item.certificado.to_i, delimiter: ",") %></td>


      </td>
      </tr>

    <% end %>

  </tbody>

</table>
<h3>Procesos = <%=   @conta %></h3>
<h3>Total(Soles) = <%=   number_with_delimiter(@items.where(tipo:2).sum(:certificado).to_i, delimiter: ",") %></h3>
<br>
<br>
<% else %>
<br>
<br>
 <td> No hay procesos Internacionales en esta Lista  </td>
 <br>
 <br>
<% end %>
