
<!DOCTYPE html>
<html>
<head>
<title></title>
<%= wicked_pdf_stylesheet_link_tag 'pdf' %>
<meta charset="utf-8">
<h3><%=   @tit1 %> </h3>
</head>

  <% if @activities.length>0 then %>
<table>



    <tr>
      <th>N°</th>

       <th>Fecha Conv</th>
       <th>Fecha BP</th>
       <th>Nomenclatura</th>
       <th>OBAC</th>
       <th>Descripcion</th>
       <th>Moneda</th>
        <th>Referencial</th>

      <%  if @vopc>=2 then %>
       <th>Adjudicado</th>

       <%  end%>

      <th colspan="3"></th>
    </tr>


  <tbody>
    <%  @conta=0 %>
    <% @activities.each do |activity| %>
        <tr>
          <% @conta=@conta+1 %>






        <td VALIGN=top ALIGN=center><%= @conta.to_s+".-" %></td>



  <% if Activity.where(actividad:19,phase_id:activity.id.to_s)
    .count>0 then %>

<%  @vaconv=Activity.where(actividad:19,phase_id:activity.id.to_s)
             .select('pfecha as dd').first.dd%>
             <td VALIGN=top ALIGN=center ><%=  @vaconv.strftime("%d-%m") %></td>
             <%  else %>
             <td VALIGN=top ALIGN=center >s/d</td>
              <%  end %>







        <%  if activity.pfecha then %>
        <td VALIGN=top ALIGN=center ><%= activity.pfecha.strftime("%d-%m") %></td>
        <%  else %>
        <td VALIGN=top ALIGN=center >s/d</td>
         <%  end %>

         <%  @an=activity.nomenclatura.length %>

        <td VALIGN=top ALIGN=center><%= activity.nomenclatura[0,@an] %></td>

        <% @vobac=" " %>
        <% if activity.expediente>0 then %>
       <% Item.where(exped:activity.expediente).each do |nobac| %>
       <% @sobac=Formula.where(product_id:1,orden:nobac.obac).select('nombre as dd').first.dd %>
       <% @vobac=@vobac+"-"+ @sobac %>
       <% end %>
       <% end %>
       <td VALIGN=top ALIGN=center><%= @vobac %></td>






        <td VALIGN=top ALIGN=center><%= activity.descripcion.underscore.capitalize %>





<% if Piece.where(phase:activity.id.to_s).count>0 and  @vopc<3 then  %>
<table width="800" border="1">

  <br>
 </tr>
    <tr>

      <th >Item </th>
      <th >Estado</th>
      <% if   @vopc==2 then %>
      <th >Postor Ganador</th>
        <% end %>
   </tr>

  <tbody>


    <% Piece.where(phase:activity.id.to_s).each do |pite| %>


 <tr>







         <td VALIGN=top ALIGN=left><%= pite.descripcion %></td>
           <% if pite.estado and pite.estado>0 then %>

            <td VALIGN=top ALIGN=center><%= Formula.where(product_id:17, orden:pite.estado).
             select('nombre as dd').first.dd %></td>


       <% else %>


          <td VALIGN=top ALIGN=center> s/d </td>
      <% end %>

<% if   @vopc==2 then %>

         <td VALIGN=top ALIGN=left><%= pite.postor %></td>

  <% end %>

 </tr>



  <% end %>
</tbody>



 </table>

<% end %>







</td>






        <% if activity.moneda>0 and activity.moneda then %>
      <td VALIGN=top   ALIGN=right><%= Formula.where(product_id:7,orden:activity.moneda).select('nombre as dd').first.dd %></td>
      <% else %>
      <td VALIGN=top ALIGN=right><%= "s/d "   %></td>
      <% end %>


        <td VALIGN=top  ALIGN =right colspan="1"><%= number_with_delimiter(activity.valor.to_i, delimiter: ",") %></td>



      <%  if @vopc>=2 then %>

          <% @vbpro=Activity.where(actividad:20,phase_id:activity.id.to_s).sum(:importe)%>

        <% if @vbpro >0 then %>

        <td VALIGN=top  ALIGN=right  colspan="1"><%= number_with_delimiter(@vbpro.to_i, delimiter: ",") %></td>

             <% else %>
        <td>  </td>
              <% end %>

          <% end %>

      </tr>

    <% end %>

  </tbody>
  </table>
    <% if @vopc>=2 then  %>
    <%@sref= 0 %>
    <%@sadj=0 %>
  <% @activities.each do |activity2| %>

    <%@sref= @sref+ Piece.where(phase:activity2.id).where('adjudicado>0 and adjudicado is not null').sum(:referencial) %>
    <%@sadj= @sadj+ Piece.where(phase:activity2.id).where('adjudicado>0 and adjudicado is not null').sum(:adjudicado) %>


      <% end %>

  <h3>ACUMULADO:</h3>

    <h4>REFERENCIAL =  <%= number_with_delimiter(@sref.to_i, delimiter: ",") %> </h4>

    <h4>ADJUDICADO =  <%= number_with_delimiter(@sadj.to_i, delimiter: ",") %> </h4>

    <h4>AHORRO =  <%= number_with_delimiter((@sref-@sadj).to_i, delimiter: ",") %> </h4>

      <% end %>




<br>
<% else %>
<br>
<br>
 <td> No hay procesos programados  </td>
 <br>
 <br>
<% end %>
