
<!DOCTYPE html>
<html>
<head>
<title></title>
<%= wicked_pdf_stylesheet_link_tag 'pdf' %>
<meta charset="utf-8">
<h3><%= @tit1 %>-<%=   @lista.titleize %></h3>
</head>

  <% if @items.count>0 then %>

    <%  @vobac1=@items.where(obac:1).count %>
    <%  @vobac2=@items.where(obac:2).count %>
    <%  @vobac3=@items.where(obac:3).count %>
    <%  @vobac4=@items.where(obac:6).count %>



<table>




    <tr>
      <th>N°</th>
      <th>Pac</th>

      <th>Obac</th>

      <th>Descripcion</th>

      <th>Estimado</th>


      <th colspan="3"></th>
    </tr>


  <tbody>

    <%  @conta=0 %>

    <% @items.each do |item| %>

        <tr>
          <% @conta=@conta+1 %>

          <%  if @vobac1>0 and @conta==1 and  item.obac==1  then %>

         <tr> <td colspan="5"> <h4><%= Formula.where(product_id:1,orden:1).select('descripcion as dd').first.dd.upcase %></h4> </td> </tr>

          <% end %>

          <%  if @vobac2>0 and @conta==@vobac1+1 and  item.obac==2  then %>

         <tr> <td colspan="5"> <h4><%= Formula.where(product_id:1,orden:2).select('descripcion as dd').first.dd.upcase %></h4> </td> </tr>

          <% end %>
          <%  if @vobac3>0 and @conta==@vobac1+@vobac2+1 and  item.obac==3  then %>

         <tr> <td colspan="5"> <h4><%= Formula.where(product_id:1,orden:3).select('descripcion as dd').first.dd.upcase %></h4> </td> </tr>

          <% end %>

          <%  if @vobac4>0 and @conta==@vobac1+@vobac2+@vobac3+1 and  item.obac==6 then %>

         <tr> <td colspan="5"> <h4><%= Formula.where(product_id:1,orden:6).select('descripcion as dd').first.dd.upcase %></h4> </td> </tr>

          <% end %>




        <td ALIGN=center><%= @conta.to_s+".-" %></td>
        <td ALIGN=center><%= item.pac %></td>



        <td ALIGN=center><%= Formula.where(product_id:1,orden:item.obac).select('nombre as dd').first.dd %></td>

        <td><%= item.descripcion.underscore.capitalize %></td>

        <td ALIGN=right><%= number_with_delimiter(item.certificado.to_i, delimiter: ",") %></td>


      </td>
      <%  if @vobac1>0 and @conta==@vobac1 and  item.obac==1  then %>

     <tr>
       <td ></td>
       <td ></td>
       <td ></td>


       <td ALIGN=right> <h4><%="PAC = "+@vobac1.to_s+" "+"   Monto Total de "+"  "+Formula.where(product_id:1,orden:1).select('nombre as dd').first.dd.upcase+"="+number_with_delimiter(@items.where(obac:1).sum(:certificado).to_i, delimiter: ",").to_s %></h4> </td>



      </tr>

      <% end %>

      <%  if @vobac2>0 and @conta==@vobac1+@vobac2 and  item.obac==2  then %>


           <tr>
             <td ></td>
             <td ></td>
             <td ></td>


             <td ALIGN=right> <h4><%="PAC = "+@vobac2.to_s+" "+"   Monto Total de "+"  "+Formula.where(product_id:1,orden:2).select('nombre as dd').first.dd.upcase+"="+number_with_delimiter(@items.where(obac:2).sum(:certificado).to_i, delimiter: ",").to_s %></h4> </td>



            </tr>

      <% end %>
      <%  if @vobac3>0 and @conta==@vobac1+@vobac2+@vobac3 and  item.obac==3  then %>
      <tr>
        <td ></td>
        <td ></td>
        <td ></td>


        <td ALIGN=right> <h4><%="PAC = "+@vobac3.to_s+" "+"   Monto Total de "+"  "+Formula.where(product_id:1,orden:3).select('nombre as dd').first.dd.upcase+"="+number_with_delimiter(@items.where(obac:3).sum(:certificado).to_i, delimiter: ",").to_s %></h4> </td>



       </tr>
      <% end %>

      <%  if @vobac4>0 and @conta==@vobac1+@vobac2+@vobac3+@vobac4 and  item.obac==6 then %>
      <tr>
        <td ></td>
        <td ></td>
        <td ></td>


        <td ALIGN=right> <h4><%="PAC = "+@vobac4.to_s+" "+"   Monto Total de "+"  "+Formula.where(product_id:1,orden:6).select('nombre as dd').first.dd.upcase+"="+number_with_delimiter(@items.where(obac:6).sum(:certificado).to_i, delimiter: ",").to_s %></h4> </td>



       </tr>
      <% end %>
      </tr>

    <% end %>

  </tbody>

</table>
<h3>PACs = <%=   @conta %></h3>
<h3>Total(Soles) = <%=   number_with_delimiter(@items.sum(:certificado).to_i, delimiter: ",") %></h3>

<br>
<% else %>
<br>
<br>
 <td> No hay PACs Ingresados  </td>
 <br>
 <br>
<% end %>
