
<!DOCTYPE html>
<html>
<head>
<title></title>
<%= wicked_pdf_stylesheet_link_tag 'pdf' %>
<meta charset="utf-8">
<h3>Periodo:<%=   @lista.titleize %> </h3>
<h4><%= @titproc %></h4>
</head>
<% if @items.select {|f| f["acti"]== @numproc and f["exped2"]==@vperiodo}.count>0 then %>

<%  @vmod1n=@items.select {|f| f["acti"]== @numproc and f["exped2"]==@vperiodo and f["tipo"]==1 and f["modalidad"]==1}.count %>
<%  @vmod2n=@items.select {|f| f["acti"]== @numproc and f["exped2"]==@vperiodo and f["tipo"]==1 and f["modalidad"]==2}.count %>
<%  @vmod1i=@items.select {|f| f["acti"]== @numproc and f["exped2"]==@vperiodo and f["tipo"]==2 and f["modalidad"]==1}.count %>
<%  @vmod2i=@items.select {|f| f["acti"]== @numproc and f["exped2"]==@vperiodo and f["tipo"]==2 and f["modalidad"]==2}.count %>



  <table >
    <tr>

       <th>N°</th>
       <th>Expediente</th>
       <th>Pac</th>
       <th>Obac</th>
       <th>Lista</th>
       <th>Descripcion</th>
       <th>Estimado</th>


    </tr>


    <%  @conta=0 %>

    <% @items.select {|f| f["acti"]==@numproc and f["exped2"]==@vperiodo}.
    sort_by { |k| [k["tipo"], k["modalidad"], k["exped"], k["obac"], k["pac"]] }.
    each do |variable| %>


    <% @var= variable["id"] %>
        <tr>
            <tbody>
      <% @conta=@conta+1 %>



      <%  if @vmod1n>0 and @conta==1 and  variable["tipo"]==1 and  variable["modalidad"]==1 then %>

     <tr> <td> <h4>NACIONALES CORPORATIVOS:</h4> </td> </tr>

      <% end %>

      <%  if @vmod2n>0 and @conta==@vmod1n+1 and  variable["tipo"]==1   and  variable["modalidad"]==2 then %>

     <tr> <td> <h4>NACIONALES POR ENCARGO:</h4> </td> </tr>

      <% end %>
      <%  if @vmod1i>0 and @conta==@vmod1n+@vmod2n+1 and  variable["tipo"]==2  and  variable["modalidad"]==1 then %>

     <tr> <td> <h4>INTERNACIONALES CORPORATIVOS:</h4> </td> </tr>

      <% end %>

      <%  if @vmod2i>0 and @conta==@vmod1n+@vmod2n+@vmod1i+1 and  variable["tipo"]==2   and  variable["modalidad"]==2 then %>

     <tr> <td> <h4>INTERNACIONALES POR ENCARGO:</h4> </td> </tr>

      <% end %>




        <td VALIGN=top ALIGN=center><h5><%= @conta.to_s+".-" %></h5></td>
              <%@vexp= @vite.where(id:@var).
              select('exped as dd').first.dd %>
            <% if @vexp>0 then %>

         <td VALIGN=top ALIGN=center><h5><%= Formula.where(product_id:16,orden:@vexp.to_i).select('nombre as dd').first.dd %></h5></td>
             <% else %>
        <td VALIGN=top ALIGN=center><h5><%= " s/d"   %></h5></td>
             <% end %>


        <td  VALIGN=top ALIGN=center><h5><%= @vite.where(id:@var).
         select('pac as dd').first.dd %></h5></td>


         <%@vobac= @vite.where(id:@var).
          select('obac as dd').first.dd%>


        <td  VALIGN=top ALIGN=center><h5><%= Formula.where(product_id:1,orden:@vobac).select('nombre as dd').first.dd %></h5></td>


         <%@vlist= @vite.where(id:@var).
          select('lista as dd').first.dd%>
        <td  VALIGN=top ALIGN=center><h5><%= Formula.where(product_id:3,orden:@vlist).select('nombre as dd').first.dd %></h5></td>


        <%@vdesc= @vite.where(id:@var).
         select('descripcion as dd').first.dd%>



        <td  VALIGN=top ALIGN=center ><h5><%= @vdesc.capitalize %></h5>





      <% if @vdetalle.where(item_id:@var).where("details.actividad=18 or
        details.actividad=20 or details.actividad=56 or
        details.actividad=13 or details.actividad=58 or
        details.actividad=61 or details.actividad=62 or
        details.actividad=63 or details.actividad=64 or
        details.actividad=65 or details.actividad=66 or
        details.actividad=300").count>0 then %>
      <table width="800" border="1">

          <tr>

            <th>Fecha</th>
            <th>Actividad</th>
            <th>Observacion</th>
         </tr>

        <tbody>


          <% @vdetalle.where(item_id:@var).where("details.actividad=18 or
               details.actividad=20 or details.actividad=56 or
                details.actividad=13 or details.actividad=58 or
                details.actividad=61 or details.actividad=62 or
                details.actividad=63 or details.actividad=64 or
                details.actividad=65 or details.actividad=66 or
                details.actividad=300").
          each do |deta| %>


       <tr>




               <td ALIGN=center><%= deta.pfecha.strftime("%d-%m-%Y") %></td>
               <td ALIGN=center><%=Formula.where(product_id:12,orden:deta.actividad).
                           select('descripcion as dd').first.dd.capitalize  %></td>
               <td ALIGN=center><%= deta.obs.capitalize %></td>

       </tr>


       <% end %>

     </tbody>

      </table>


          <% end %>





    </td>
    <%@vval= @vite.where(id:@var).
     select('certificado as dd').first.dd%>

   <td  VALIGN=top ALIGN=right><h5><%= number_with_delimiter(@vval.to_i, delimiter: ",") %></h5></td>
    </tr>


    <% end %>
    <br>
  </tbody>
  </table>

<% else %>
<br>
<br>
 <td> No hay procesos en esta etapa  </td>
 <br>
 <br>
<% end %>
</html>
