<!DOCTYPE html>
<html>
<head>
<title></title>
<%= wicked_pdf_stylesheet_link_tag 'pdf' %>
<meta charset="utf-8">
<h3>Periodo:<%=   @vper %> </h3>
<h4><%= @titproc %></h4>

</head>
<% if @items.count>0 then %>





  <table >
    <tr>

       <th>N°</th>

       <th>Proceso</th>
       <th>Descripcion</th>
       <th>Estimado</th>


    </tr>


    <%  @conta=0 %>

    <% @items.each do |variable| %>



        <tr>
            <tbody>
      <% @conta=@conta+1 %>




<%  @vpact=[13,18,20,34,56,13,58,61,62,63,64,65,66,50,67,300,35]%>



        <td VALIGN=top ALIGN=center><h5><%= @conta.to_s+".-" %></h5></td>

            


        <td  VALIGN=top ALIGN=center><h5><%= variable.nomenclatura %></h5></td>






        <td  VALIGN=top ALIGN=center ><h5><%= variable.descripcion.capitalize %></h5>


          <% if @vdetalle.where(phase_id:variable.id).where(actividad: @vpact).count>0  then %>

            <% @vdetact= @vdetalle.where(phase_id:variable.id).where(actividad: @vpact)%>

          <table width="800" border="1">

              <tr>

                <th colspan="2">Fecha </th>
                <th colspan="2">Programa</th>
                <th>Actividad</th>
                <th>Observacion</th>
             </tr>

            <tbody>


              <% @vdetact.each do |deta| %>


           <tr>




                   <td ALIGN=center colspan="2"><%= deta.pfecha.strftime("%d-%m") %></td>
                     <%  if deta.plan then %>
                  <td ALIGN=center colspan="2"><%= deta.plan.strftime("%d-%m") %></td>
                     <%  else %>
                   <td ALIGN=center colspan="2">s/d</td>
                      <%  end %>

                   <td ALIGN=center><%=Formula.where(product_id:12,orden:deta.actividad).
                               select('descripcion as dd').first.dd.capitalize  %></td>
                   <td ALIGN=center><%= deta.obs.capitalize %></td>

           </tr>

            <% end %>

            <tbody>
      <% end %>

  </table>





    </td>


   <td  VALIGN=top ALIGN=right><h5><%= number_with_delimiter(variable.valor.to_i, delimiter: ",") %></h5></td>
    </tr>


    <% end %>
    <br>
  </tbody>
  </table>

<% else %>
<br>
<br>
 <td> No hay procesos en esta etapa  </td>
 <br>
 <br>
<% end %>
</html>
