<!DOCTYPE html>
<html>
<head>
<title></title>
<%= wicked_pdf_stylesheet_link_tag 'pdf' %>
<meta charset="utf-8">
<h3>Periodo:<%=   @vper %> </h3>
<h4><%= @titproc %> AL <%= Time.now.strftime("%d-%m-%Y")%></h4>

</head>
<% if @items.count>0 then %>





  <table >
    <tr  style="font-size:90%;">

       <th>N°</th>

       <th  colspan="2">Proceso</th>
       <th  > </th>
       <th  colspan="3">Descripcion</th>

       <th   >Presupuestado</th>

       <% aarr=["5","6","7"] %>
<% if  aarr.include?  @vactcanti then %>
       <th   >Adjudicado</th>
<%  else %>
       <th   >Referencial</th>
<% end%>
<% if @vactcanti.include?("4") then%>
       <th   >EPOM</th>

<% end%>
<% if @vactcanti.include?("5") then%>
       <th   >Consentimiento</th>

<% end%>



    </tr>
    <tbody>

    <%  @conta=0 %>

    <% @items.each do |variable| %>

      <%@vcanc=Activity.where(phase_id:variable.id).where('actividad=93 or actividad=99').count%>
      <%@vnulo=Activity.where(phase_id:variable.id).where('actividad=84').count%>
      <%@vdesi=Activity.where(phase_id:variable.id).where('actividad=49').count%>
      <%@vorigen=Phase.where(sele5:variable.sele5).select('id').map {|e| e.
        attributes.values}.flatten.compact.sort.
        delete_if {|score| score <= variable.id }%>
             <% if @vorigen.length>0 then %>
                <%@vpha="SIGUE CON "+Phase.where(id:@vorigen.first).select('proceso as dd').first.dd    %>
             <% else %>
                  <%@vpha=" "    %>
             <% end %>

        <tr style="font-size:80%;"  class="detl">

      <% @conta=@conta+1 %>


      <%  case current_admin_user.categoria %>
      <%    when 21,22,23 %>

        <%  @vpact=Formula.where(product_id:12,acti:2).select('orden')%>
      <% else %>
        <%  @vpact=Formula.where(product_id:12).where('acti=1 or acti=2').select('orden')%>
      <%   end %>

  <%  @vpact3=Formula.where(product_id:12,acti:3).select('orden')%>

        <td><%= @conta.to_s+".-" %></td>




        <td colspan="2"><%= variable.proceso %></td>
        <% @vobac=" " %>
          <% @vobac2=" " %>
        <%   @presu1=0 %>
          <%   @vdia1=0 %>
        <% if variable.expediente>0 then %>


          <%   @presu1=Item.where(exped:variable.expediente).where('modalidad<3').sum(:certificado).to_i %>
            <%   @pmdo1=Formula.where(product_id:6,orden:Item.where(exped:variable.expediente).where('modalidad<3').
                      select('tipo as dd').first.dd). select('nombre as dd').first.dd %>

                    <%   case variable.sele %>
                       <%  when 4  %>
                              <%   @vdia1=Item.where(exped:variable.expediente).where('modalidad<3').select('ddem as dd').first.dd %>
                       <%  when 5 %>
                              <%   @vdia1=Item.where(exped:variable.expediente).where('modalidad<3').select('ddpc as dd').first.dd %>
                       <%  else %>
                              <%   @vdia1=0 %>
                       <% end %>


            <%  @presu1=Item.where(exped:variable.expediente).sum(:certificado).to_i %>
        <% Item.where(exped:variable.expediente).where('modalidad<3').each do |nobac| %>
        <% @spac=nobac.pac%>
        <% @sobac=Formula.where(product_id:1,orden:nobac.obac).select('nombre as dd').first.dd %>
        <% if nobac.fuente then %>
        <% @sfuente=Formula.where(product_id:8,orden:nobac.fuente).select('nombre as dd').first.dd %>
          <% else %>
          <%  @sfuente=" "%>
            <% end %>
        <% @vobac=@vobac+ @spac+"-"+@sobac+"-"+ @sfuente+"//"%>

         <% @vobac2=@vobac2+ @spac+" - "+@sobac+" //"%>
        <% end %>
        <% end %>
        <td  >  </td>





        <td colspan="3"><%= variable.descripcion+
                       "------- ( "+@vobac2+" ) "+" - " +@pmdo1.upcase %>  </td>

        <% @presu=Piece.where(phase_id:variable.id.to_s).sum(:presupuestado).to_i%>
          <% if  @presu==0 then %>
          <%   @presu=@presu1  %>
         <% end %>

                <td ><h5  ALIGN=center><%= number_with_delimiter( @presu.to_i, delimiter: ",") %></h5></td>

        <% if  aarr.include?  @vactcanti then %>
        <% @vbpro=Piece.where(phase_id:variable.id.to_s).sum(:"adjudicado*(SELECT  cantidad FROM formulas
           WHERE formulas.product_id = 7 AND
           formulas.numero=(SELECT periodo FROM phases WHERE id=pieces.phase_id) AND
           formulas.orden =pieces.moneda)/100 ")%>

                  <td ><h5  ALIGN=center><%= number_with_delimiter(@vbpro.to_i, delimiter: ",") %></h5></td>
        <%  else %>

        <% @reff=Piece.where(phase_id:variable.id.to_s).sum(:"referencial*(SELECT  cantidad FROM formulas
           WHERE formulas.product_id = 7 AND
           formulas.numero=(SELECT periodo FROM phases WHERE id=pieces.phase_id) AND
           formulas.orden =pieces.moneda)/100 ")%>






                  <td ><h5  ALIGN=center><%= number_with_delimiter(@reff.to_i, delimiter: ",") %></h5></td>
        <% end%>
        <% if @vactcanti.include?("4") then%>

        <%deta2= Phase.where.not(expediente:0).find_by(expediente:variable.expediente).activities
                  .where("actividad= 102 or actividad=301")   %>

            <% if deta2.count >0 then %>
                <td ><%= deta2.maximum('pfecha').strftime("%d/%m") %></td>
            <% else %>
                <td >s/d </td>
            <% end %>
         <% end %>

         <% if @vactcanti.include?("5") then%>

         <%deta2= Phase.where.not(expediente:0).find_by(expediente:variable.expediente).activities
                   .where(actividad: 21)
                   .order('activities.pfecha ')%>

             <% if deta2.count >0 then %>
                 <td ><%= deta2.select('pfecha as dd').first.dd.strftime("%d/%m") %></td>
             <% else %>
                 <td >s/d </td>
             <% end %>
          <% end %>




        </tr>


          <% if @vdetalle.where(phase_id:variable.id).where(actividad: @vpact).count>0 and @vpaso1.to_i==0 then %>

            <% @vdetact= @vdetalle.where(phase_id:variable.id).where(actividad: @vpact)%>



















              <tr style="font-size:80%;"  class="last">
                <th ></th>

                <th >Fecha  </th>

                <th colspan="3">Actividad</th>




               <th colspan="3">Observacion <%= if @vdia1>0 then  " ( dias en direccion="+ @vdia1.to_s+" )" end %> </th>


              <% if @vactcanti=="1" then%>




                  <% if @vcanc>0 then%>
                        <th colspan="3" class="azul"> PROCESO CANCELADO </th>
                    <% else%>
                    <% if @vnulo>0 then%>
                          <th colspan="3" class="azul">PROCESO NULO <%= @vpha%></th>
                          <% else %>
                          <% if @vdesi>0 then%>
                                <th colspan="3" class="azul">PROCESO DESIERTO <%= @vpha%></th>
                          <% end%>
                    <% end%>

                  <% end%>

              <%end%>

                <th ></th>
             </tr>

            <tbody>


              <% @vdetact.each do |deta| %>


           <tr style="font-size:70%;"  class="last">



                    <td ></td>

                   <td><%= deta.pfecha.strftime("%d-%m") %></td>


                   <td colspan="2"><%=Formula.where(product_id:12,orden:deta.actividad).
                               select('descripcion as dd').first.dd.capitalize  %></td>
                   <td colspan="4"><%= deta.obs.capitalize %></td>
                   <td ></td>
           </tr>

            <% end %>

            <tbody>



  <% end %>



    <% end %>

    <tr>
     <th colspan="3"></th>
        <th colspan="3"> MONTO TOTAL =</th>



  <th colspan="3"> <%= number_with_delimiter(@items.sum(:sele2), delimiter: ",")%></th>
    </tr>

    <br>
  </tbody>
  </table>

<% else %>
<br>
<br>
 <td> No hay procesos en esta etapa  </td>
 <br>
 <br>
<% end %>
</html>
