
<!DOCTYPE html>
<html>
<head>
<title></title>
<%= wicked_pdf_stylesheet_link_tag 'pdf' %>
<meta charset="utf-8">
<h3><%=   @lista.titleize %>- <%= @tit1 %> </h3>
</head>

  <% if @items.where(tipo:1).count>0 then %>

<table>


<h4> NACIONALES:  </h4>

    <tr>
      <th>N°</th>
      <th>Pac</th>
      <th>Expediente</th>
      <th>Obac</th>

      <th>Descripcion</th>

      <th>Estimado</th>


      <th colspan="3"></th>
    </tr>


  <tbody>

    <%  @conta=0 %>

    <% @items.where(tipo:1).each do |item| %>

        <tr>
          <% @conta=@conta+1 %>
        <td ALIGN=center><%= @conta.to_s+".-" %></td>
        <td ALIGN=center><%= item.pac.to_i %></td>

        <% if item.exped>0 then %>
           <td ALIGN=center><%= Formula.where(product_id:16,orden:item.exped).select('nombre as dd').first.dd.downcase %></td>
          <% else %>
        <td ALIGN=center><%= " s/d"   %></td>
          <% end %>

        <td ALIGN=center><%= Formula.where(product_id:1,orden:item.obac).select('nombre as dd').first.dd %></td>

        <td><%= item.descripcion.underscore.capitalize %></td>

        <td ALIGN=right><%= number_with_delimiter(item.certificado.to_i, delimiter: ",") %></td>


      </td>
      </tr>

    <% end %>

  </tbody>

</table>
<h3>Procesos = <%=   @conta %></h3>
<h3>Total(Soles) = <%=   number_with_delimiter(@items.where(tipo:1).sum(:certificado).to_i, delimiter: ",") %></h3>

<br>
<% else %>
<br>
<br>
 <td> No hay procesos Nacionales en esta Lista  </td>
 <br>
 <br>
<% end %>
  <% if @items.where(tipo:2).count>0 then %>

<table>






<h3>INTERNACIONALES:  </h3>
    <tr>
      <th>N°</th>
      <th>Pac</th>
      <th>Expediente</th>
      <th>Obac</th>

      <th>Descripcion</th>

      <th>Estimado</th>


      <th colspan="3"></th>
    </tr>


  <tbody>
    <%  @conta=0 %>

    <% @items.where(tipo:2).each do |item| %>
        <tr>
          <% @conta=@conta+1 %>
        <td ALIGN=center><%= @conta.to_s+".-" %></td>
        <td ALIGN=center><%= item.pac.to_i %></td>

        <% if item.exped>0 then %>
           <td ALIGN=center><%= Formula.where(product_id:16,orden:item.exped).select('nombre as dd').first.dd.downcase %></td>
          <% else %>
        <td ALIGN=center><%= " s/d"   %></td>
          <% end %>

        <td ALIGN=center><%= Formula.where(product_id:1,orden:item.obac).select('nombre as dd').first.dd %></td>

        <td><%= item.descripcion.underscore.capitalize %></td>

        <td  ALIGN=right><%= number_with_delimiter(item.certificado.to_i, delimiter: ",") %></td>


      </td>
      </tr>

    <% end %>

  </tbody>

</table>
<h3>Procesos = <%=   @conta %></h3>
<h3>Total(Soles) = <%=   number_with_delimiter(@items.where(tipo:2).sum(:certificado).to_i, delimiter: ",") %></h3>
<br>
<br>
<% else %>
<br>
<br>
 <td> No hay procesos Internacionales en esta Lista  </td>
 <br>
 <br>
<% end %>
