
<!DOCTYPE html>
<html>
<head>
<title></title>
<%= wicked_pdf_stylesheet_link_tag 'pdf' %>
<meta charset="utf-8">
<h3><%=   @lista.titleize %> </h3>
</head>

  <% if @items.count>0 then %>
<table>

  <thead>
<h4>PROCESOS POR EXCLUIDOS CON RJ:</h4>
    <tr>
      <th>N°</th>

       <th>Exp</th>
         <th>Pac</th>
        <th>Obac</th>

      <th>Descripcion</th>

      <th>Estimado</th>


      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%  @conta=0 %>
    <% @items.each do |item| %>
        <tr>
          <% @conta=@conta+1 %>
        <td><%= @conta.to_s+".-" %></td>
        <% if item.expediente.to_i>0 then %>
           <td><%= Formula.where(product_id:16,orden:item.expediente.to_i).select('nombre as dd').first.dd %></td>
          <% else %>
        <td><%= " s/d"   %></td>
          <% end %>


        <td><%= item.pac.to_i %></td>



        <td><%= Formula.where(product_id:1,orden:item.obac).select('nombre as dd').first.dd %></td>

        <td><%= item.descripcion.underscore.capitalize %></td>

        <td><%= number_with_delimiter(item.certificado.to_i, delimiter: ",") %></td>


      </td>
      </tr>

    <% end %>

  </tbody>

</table>

<h3>Total(Soles) = <%=   number_with_delimiter(@items.sum(:certificado).to_i, delimiter: ",") %></h3>
<br>
<% else %>
<br>
<br>
 <td> No hay procesos Excluidos con RJ para esta Entidad  </td>
 <br>
 <br>
<% end %>
