
<!DOCTYPE html>
<html>
<head>
<title></title>
<%= wicked_pdf_stylesheet_link_tag 'pdf' %>
<meta charset="utf-8">
<h3>Periodo:<%=   @vper %> </h3>
<h4><%= @titproc %> AL<%= Time.now.strftime("%d-%m-%Y")	 %> </h4>

</head>
<% if @items.count>0 then %>

  <% Formula.where(product_id:6).order('orden').each do  |merca| %>
  <% Formula.where(product_id:4).where('orden<3').order('orden').each do  |modal| %>
  <% if @items.where(tipo:merca.orden,modalidad:modal.orden).count>0 then %>
  <h3>  <%='Mercado '+Formula.where(product_id:6,orden:merca.orden).
                        select('nombre as dd').first.dd+' ' +
                         Formula.where(product_id:4,orden:modal.orden).select('nombre as dd').first.dd%> </h3>




<table>

  <tr  style="font-size:90%;">

    <th>N°</th>
    <th>Exped</th>
    <th>PAC</th>
    <th>OBAC</th>
    <th>Fuente</th>

    <th colspan="5" >Descripcion</th>

    <th>Estimado</th>
    <% if @vactcanti.include?("0") then%>

    <th>Publicacion</th>
    <th>Progra_recep </th>

    <% end %>

    <% if @vactcanti.include?("2") then%>

    <th>Publicacion</th>
    <th>Progra_recep </th>
    <th>Recepcion</th>

    <% end %>
    <% if @vactcanti.include?("3") then%>

    <th>Idoneidad/FT</th>

    <% end %>
    <% if @vactcanti.include?("4") then%>

    <th>Fec_EPOM</th>

    <% end %>



  </tr>

    <%  @conta=0 %>
      <% if @items.count>0 then %>
    <% @items.where(tipo:merca.orden,modalidad:modal.orden).each do |variable| %>





      <% @conta=@conta+1 %>




    <%  case current_admin_user.categoria %>
    <%    when 21,22,23 %>

      <%  @vpact=Formula.where(product_id:12,acti:2).select('orden')%>

    <% else %>
      <%  @vpact=Formula.where(product_id:12).where('acti=1 or acti=2').select('orden')%>
    <%   end %>
      <%  @vpact3=Formula.where(product_id:12,acti:3).select('orden')%>






  <tbody>
  <tr  style="font-size:90%;"  class="detl">

        <td ><%= @conta.to_s+".-" %></td>

            <% if variable.exped>0 then %>

         <td ><%= Formula.where(product_id:16,orden:variable.exped).select('nombre as dd').first.dd %> </td>
             <% else %>
        <td ><%= "s/d"   %></td>
             <% end %>


        <td  > <%= variable.pac %></td>



        <td  ><%= Formula.where(product_id:1,orden:variable.obac).select('nombre as dd').first.dd %></td>


        <% vfue=Formula.where(product_id:8,orden:variable.fuente)%>
          <% if vfue.count>0 then%>
        <td  ><%= vfue.select('nombre as dd').first.dd %></td>
           <% else%>
        <td  >s/d</td>
            <% end%>

        <td colspan="5" ><%= variable.descripcion.upcase %>  </td>


       <td ><%= number_with_delimiter(variable.certificado.to_i, delimiter: ",") %></td>

         <% if @vactcanti.include?("0") then%>


             <%deta= Detail.where(item_id:variable.id,actividad:36).order('pfecha') %>
             <% if deta.count >0 then %>
               <td ><%= deta.select('pfecha as dd').first.dd.strftime("%d/%m") %></td>
             <% else %>
              <td >s/d </td>
             <% end %>

             <%deta= Detail.where(item_id:variable.id,actividad:58).order('pfecha') %>
             <% if deta.count >0 then %>
               <td ><%= deta.select('pfecha as dd').first.dd.strftime("%d/%m") %></td>
             <% else %>
              <td >s/d </td>
             <% end %>





         <% end %>




          <% if @vactcanti.include?("2") then%>

           <%deta= Detail.where(item_id:variable.id,actividad:36).order('pfecha') %>
           <% if deta.count >0 then %>
           <td ><%= deta.select('pfecha as dd').first.dd.strftime("%d/%m") %></td>
           <% else %>
          <td >s/d </td>
         <% end %>


          <%deta= Detail.where(item_id:variable.id,actividad:58).order('pfecha') %>
          <% if deta.count >0 then %>
            <td ><%= deta.select('pfecha as dd').first.dd.strftime("%d/%m") %></td>
          <% else %>
           <td >s/d </td>
          <% end %>

          <%deta= Detail.where(item_id:variable.id,actividad:13).order('pfecha') %>
          <% if deta.count >0 then %>
            <td ><%= deta.select('pfecha as dd').first.dd.strftime("%d/%m") %></td>
          <% else %>
           <td >s/d </td>
          <% end %>

           <% end %>



           <% if @vactcanti.include?("3") then%>

            <%deta= Detail.where(item_id:variable.id,actividad:101).order('pfecha') %>
            <% if deta.count >0 then %>
            <td ><%= deta.select('pfecha as dd').first.dd.strftime("%d/%m") %></td>
            <% else %>
           <td >s/d </td>
          <% end %>



            <% end %>


            <% if @vactcanti.include?("4") then%>

               <%deta= Detail.where(item_id:variable.id,actividad:102).order('pfecha') %>

               <% vop=0 %>
               <% if Phase.where(expediente:variable.exped).count>0 %>
               <%   pro1=Phase.where(expediente:variable.exped).select('id') %>
              <%   if Activity.where(phase_id:pro1,actividad: 102).count>0  %>
                <%    deta2=Activity.where(phase_id:pro1,actividad: 102) .order('activities.pfecha ')%>
                  <td ><%= deta2.select('pfecha as dd').last.dd.strftime("%d/%m") %></td>
                  <% vop=1 %>
               <% end %>
                <% end %>




              <% if deta.count >0 and vop==0 then %>
                  <td ><%= deta.select('pfecha as dd').first.dd.strftime("%d/%m") %></td>
                  <% vop=1 %>
              <% end %>


              <% if vop==0 then %>
                 <td >s/d </td>
               <% end %>

              <% end %>





        </tr>


  <% if Phase.where.not(expediente:0).where(expediente:variable.exped).count>0 then %>



          <% @vdetact2=Phase.where.not(expediente:0).find_by(expediente:variable.exped).activities
                    .where(actividad: @vpact)
                    .order('activities.pfecha ')%>

                  <%@vdetact21=0 %>
                  <% @vdetact2.each do |deta3| %>

                  <%bb= Formula.where(product_id:12,orden:deta3.actividad).select('cantidad as dd').first.dd %>

                  <% if @vactcanti.include?bb.to_s then%>

                 <% @vdetact21=1 %>

                 <% end %>
                 <% end %>
 <% else %>

             <% @vdetact21=0 %>

 <% end %>






      <% if @vdetalle.where(item_id:variable.id).where(actividad: @vpact).count>0 or @vdetact21==1 then %>



        <% @vdetact= @vdetalle.where(item_id:variable.id).where(actividad: @vpact)%>


    <% if @vdetalle.where(item_id:variable.id).where(actividad: @vpact3).count>0 then %>
    <%  @vdetalle.where(item_id:variable.id).where(actividad:@vpact3).each do |deta| %>
      <tr  style="font-size:80%;"  class="detl">
    <td ></td>

   <td colspan="8"><%'ESTADO='+deta.pfecha.strftime("%d/%m/%y").to_s+"-"+ deta.obs.capitalize %></td>


    </tr>


      <% end %>
      <% end %>


          <tr  style="font-size:80%;"  class="last">
            <th > </th>
            <th >Fecha </th>

            <th colspan="3">Actividad</th>

            <th colspan="5">Observacion</th>

            <th colspan="1">Documento</th>
            <th colspan="1">Numero</th>

         </tr>


  <% if @vdetalle.where(item_id:variable.id).where(actividad: @vpact).count>0  then %>

          <% @vdetact.each do |deta| %>


       <tr style="font-size:70%;"  class="last" >


                   <td > </td>

               <td ><%= deta.pfecha.strftime("%d-%m") %></td>



               <td colspan="3"><%=Formula.where(product_id:12,orden:deta.actividad).
                           select('descripcion as dd').first.dd.capitalize  %></td>
                   <%  if deta.obs then %>


               <td colspan="5"><%= deta.obs.capitalize %></td>
                 <%  else %>
                 <td > </td>
                   <%  end %>
                   <td ><%= deta.tipo %></td>
                    <td ><%= deta.numero %></td>

       </tr>
        <% end %>
<% end %>

 <% if @vdetact21==1 then %>
       <% @vdetact2.each do |deta2| %>

        <%bb= Formula.where(product_id:12,orden:deta2.actividad).select('cantidad as dd').first.dd %>

     <% if @vactcanti.include?bb.to_s then%>





       <tr style="font-size:70%;"  class="last" >



                  <td > </td>
            <td ><%= deta2.pfecha.strftime("%d-%m") %></td>


            <td  colspan="3"><%=Formula.where(product_id:12,orden:deta2.actividad).
                        select('descripcion as dd').first.dd.capitalize  %></td>

            <td  colspan="4"><%= deta2.obs.capitalize %></td>
            <td ><%= deta2.tipo %></td>
             <td ><%= deta2.numero %></td>

               <td > </td>
    </tr>


       <% end %>




       <% end %>

       <% end %>






          <% end %>








    <% end %>
    <br>
  </tbody>
  </table>

  <% end %>

    <tr>

      <td>  <%='Total Mercado '+Formula.where(product_id:6,orden:merca.orden).select('nombre as dd').first.dd+' ' +
                             Formula.where(product_id:4,orden:modal.orden).select('nombre as dd').first.dd+
                             '='+number_with_delimiter(@items.where(tipo:merca.orden,modalidad:modal.orden).sum(:certificado).
                             to_i, delimiter: ",") %> </td>




  </tr>
  <% end %>

  <% end %>

  <% end %>


<% else %>
   <br>
   <br>
   <td> No hay procesos en esta etapa  </td>
   <br>
   <br>
<% end %>

</html>
