
<!DOCTYPE html>
<html>
<head>
<title></title>
<%= wicked_pdf_stylesheet_link_tag 'pdf' %>
<meta charset="utf-8">
<h3>Periodo:<%=   @vper %> </h3>
<h4><%= @titproc %></h4>

</head>
<% if @items.count>0 then %>

<%  @vmod1n=@items.where(tipo:1,modalidad:1).count %>
<%  @vmod2n=@items.where(tipo:1,modalidad:2).count %>
<%  @vmod1i=@items.where(tipo:2,modalidad:1).count %>
<%  @vmod2i=@items.where(tipo:2,modalidad:2).count %>





  <table >
    <tr>

       <th>N°</th>
       <th>Expediente</th>
       <th>Pac</th>
       <th>Obac</th>
       <th>Lista</th>
       <th>Descripcion</th>
       <th>Estimado</th>


    </tr>


    <%  @conta=0 %>

    <% @items.each do |variable| %>



        <tr>
            <tbody>
      <% @conta=@conta+1 %>



      <%  if @vmod1n>0 and @conta==1 and  variable.tipo==1 and  variable.modalidad==1 then %>

     <tr> <td> <h4>NACIONALES CORPORATIVOS:</h4> </td> </tr>

      <% end %>

      <%  if @vmod2n>0 and @conta==@vmod1n+1 and  variable.tipo==1   and  variable.modalidad==2 then %>

     <tr> <td> <h4>NACIONALES POR ENCARGO:</h4> </td> </tr>

      <% end %>
      <%  if @vmod1i>0 and @conta==@vmod1n+@vmod2n+1 and  variable.tipo==2  and  variable.modalidad==1 then %>

     <tr> <td> <h4>INTERNACIONALES CORPORATIVOS:</h4> </td> </tr>

      <% end %>

      <%  if @vmod2i>0 and @conta==@vmod1n+@vmod2n+@vmod1i+1 and  variable.tipo==2  and variable.modalidad==2 then %>

     <tr> <td> <h4>INTERNACIONALES POR ENCARGO:</h4> </td> </tr>

      <% end %>
<%  @vpact=[13,15,18,20,34,56,13,58,61,62,63,64,65,66,50,67,300,35]%>



        <td VALIGN=top ALIGN=center><h5><%= @conta.to_s+".-" %></h5></td>

            <% if variable.exped>0 then %>

         <td VALIGN=top ALIGN=center><h5><%= Formula.where(product_id:16,orden:variable.exped).select('nombre as dd').first.dd %></h5></td>
             <% else %>
        <td VALIGN=top ALIGN=center><h5><%= " s/d"   %></h5></td>
             <% end %>


        <td  VALIGN=top ALIGN=center><h5><%= variable.pac %></h5></td>



        <td  VALIGN=top ALIGN=center><h5><%= Formula.where(product_id:1,orden:variable.obac).select('nombre as dd').first.dd %></h5></td>



        <td  VALIGN=top ALIGN=center><h5><%= Formula.where(product_id:3,orden:variable.lista).select('nombre as dd').first.dd %></h5></td>




        <td  VALIGN=top ALIGN=center ><h5><%= variable.descripcion.capitalize %></h5>


  <% if Phase.where.not(expediente:0).where(expediente:variable.exped).count>0 then %>



          <% @vdetact2=Phase.where.not(expediente:0).find_by(expediente:variable.exped).activities
                    .where(actividad: @vpact)
                    .order('activities.pfecha ')%>

                  <%@vdetact21=0 %>
                  <% @vdetact2.each do |deta3| %>
                  <%aa=@vactcanti.to_i %>
                  <%bb= Formula.where(product_id:12,orden:deta3.actividad).select('cantidad as dd').first.dd %>

                  <% if aa==bb then%>

                 <% @vdetact21=1 %>

                 <% end %>
                 <% end %>
 <% else %>

             <% @vdetact21=0 %>

 <% end %>






      <% if @vdetalle.where(item_id:variable.id).where(actividad: @vpact).count>0 or @vdetact21==1 then %>

        <% @vdetact= @vdetalle.where(item_id:variable.id).where(actividad: @vpact)%>

      <table width="800" border="1">

          <tr style="font-size:70%;">

            <th colspan="2">Fecha </th>
            <th colspan="2">Programa</th>
            <th>Actividad</th>
            <th>Observacion</th>
         </tr>

        <tbody>
  <% if @vdetalle.where(item_id:variable.id).where(actividad: @vpact).count>0  then %>

          <% @vdetact.each do |deta| %>


       <tr style="font-size:70%;">




               <td ALIGN=center colspan="2"><%= deta.pfecha.strftime("%d-%m") %></td>
                 <%  if deta.plan then %>
              <td ALIGN=center colspan="2"><%= deta.plan.strftime("%d-%m") %></td>
                 <%  else %>
               <td ALIGN=center colspan="2">s/d</td>
                  <%  end %>

               <td ALIGN=center><%=Formula.where(product_id:12,orden:deta.actividad).
                           select('descripcion as dd').first.dd.capitalize  %></td>
               <td ALIGN=center><%= deta.obs.capitalize %></td>

       </tr>
        <% end %>
<% end %>

 <% if @vdetact21==1 then %>
       <% @vdetact2.each do |deta2| %>
         <%aa=@vactcanti.to_i %>
        <%bb= Formula.where(product_id:12,orden:deta2.actividad).select('cantidad as dd').first.dd %>

     <% if aa==bb then%>





       <tr  style="font-size:70%;">




            <td ALIGN=center colspan="2"><%= deta2.pfecha.strftime("%d-%m") %></td>
              <%  if deta2.plan then %>
           <td ALIGN=center colspan="2"><%= deta2.plan.strftime("%d-%m") %></td>
              <%  else %>
            <td ALIGN=center colspan="2">s/d</td>
               <%  end %>

            <td ALIGN=center><%=Formula.where(product_id:12,orden:deta2.actividad).
                        select('descripcion as dd').first.dd.capitalize  %></td>
            <td ALIGN=center><%= deta2.obs.capitalize %></td>

    </tr>

<% end %>



<% end %>


       <% end %>


     </tbody>

      </table>


          <% end %>





    </td>


   <td  VALIGN=top ALIGN=right><h5><%= number_with_delimiter(variable.certificado.to_i, delimiter: ",") %></h5></td>
    </tr>


    <% end %>
    <br>
  </tbody>
  </table>

<% else %>
<br>
<br>
 <td> No hay procesos en esta etapa  </td>
 <br>
 <br>
<% end %>
</html>
